GLASSNODE_API_KEY=
BTC_DASHBOARD_OUTPUT_DIR=output/when-buy-bitcoin
BTC_DASHBOARD_SYMBOL=BTCUSDT
BTC_DASHBOARD_MARKET_SOURCE=binance
BTC_CYCLE_BOTTOM_WINDOW=
BTC_CYCLE_HIGH=
BTC_CYCLE_LOW=
BTC_INVALIDATION_LEVEL=
TZ=UTC
